* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

a {
  color: inherit;
}


h1, h2 {
  color: #333;
}

button, .button {
  background-color: #013d52;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}
